$emerald-teal: #1D6D6E;
$crimson-mycelium: #912F40;
$fungal-gold: #D9A441;
$blackberry-rust: #3A2D32;
$petri-white: #F1F1EC;
$mycelial-mist: #7CA7A7;

$font-heading: 'Cormorant Garamond', 'Times New Roman', serif;
$font-body: 'Lato', 'Helvetica Neue', Arial, sans-serif;

$max-width: 960px;
$transition: 150ms ease-in-out;
